/* Définitions des polices personalisée Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* Eléments principaux de la page  */

body {
  font-family: "Raleway", sans-serif;
  font-size: small;
  font-style: normal;
  font-weight: normal;
  background-color: white;
}

.container {
  max-width: 1400px;
  margin: auto;
}

/* Header et Navigation  */

header {
  position: relative;
  margin-bottom: 40px;
}

header div {
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}

header nav ul {
  display: inline-flex;
  font-size: medium;
  list-style: none;
  padding-left: 0px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 20px;
  gap: 5em;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: normal;
  padding-top: 26px;
}

header nav ul li a.singup {
  text-decoration: none;
  color: #0065fc;
  font-weight: bolder;
}

header nav ul li a:hover {
  text-decoration: none;
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

/* Barre de recherche et Filtres */

.recherche {
  margin-bottom: 30px;
}

.recherche h1 {
  margin-bottom: 10px;
}

.recherche p {
  font-size: medium;
  margin-top: 10px;
}

.recherche form {
  display: flex;
  margin-bottom: 30px;
  height: 50px;
}

.recherche form div {
  background-color: #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 50px;
}

.recherche form div .fa-map-marker-alt {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
}
.recherche form input {
  border: 1px solid #f2f2f2;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 600;
  width: 180px;
}
.recherche form button {
  width: 120px;
  background-color: #0065fc;
  border: none;
  padding: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.recherche form button span {
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.recherche form button .fa-search {
  display: none;
}

/* Filtres */

.filtres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
  font-weight: 700;
  font-size: 15px;
}

.filtres h2 {
  padding-right: 0px;
}

.cadre {
  display: flex;
  align-items: center;
  border-left: none;
  border: 2px #f2f2f2 solid;
  border-radius: 25px;
  height: 40px;
  cursor: pointer;
}

.cadre:hover{
  border: 2px solid #0065fc;
  color: #0065fc;
}

.cadre span {
  padding: 0 10px;
}

.icon {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #deebff;
}

.fa-money-bill-wave::before {
  color: #0065fc;
  position: absolute;
  top: 11px;
  left: 9px;
}

.fa-male::before {
  color: #0065fc;
  position: absolute;
  top: 11px;
  left: 16px;
}

.fa-dog::before {
  color: #0065fc;
  position: absolute;
  top: 10px;
  left: 12px;
}
.fa-heart::before {
  color: #0065fc;
  position: absolute;
  top: 12px;
  left: 12px;
}

.icon span {
  padding-left: 50px;
}

/* Info */

.info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.fa-info-circle:before {
  font-size: large;
}

.info p {
  padding-left: 10px;
  font-size: small;
  font-weight: normal;
}

/* Top Section (Hébergements à Marseille) */

.hebergement-section {
  display: flex;
  gap: 2.5em;
  margin-bottom: 40px;
}

#hebergement {
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 65%;
  padding: 15px;
}

#hebergement h2 {
  font-size: large;
  font-weight: bolder;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 20px;
}

#hebergement .hebergement-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-left: 20px;
  margin-right: 20px;
}

#hebergement .hebergement-cards div {
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  display: inline-block;
  width: 25%;
  flex-grow: 1;
}

#hebergement .hebergement-cards div a img {
  width: 100%;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

#hebergement .hebergement-cards div a {
  text-decoration: none;
  color: black;
}

#hebergement .hebergement-cards div a p {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
}

.fa-star:before {
  content: "\f005";
  color: #0065fc;
  font-size: smaller;
}

.fas.fa-star.padding:before{
  padding-left: 10px;
}

.fas.fa-star.color::before{
  color: rgb(221, 219, 219);
}

#hebergement > p {
  font-size: large;
  font-weight: bolder;
  padding-left: 25px;
  margin-top: 30px;
  margin-bottom: 25px;
}

/* Aside section (Les plus populaires) */

#populaire {
  vertical-align: top;
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-bottom: 0px;
  width: 35%;
  padding: 15px;
}

#populaire h2 {
  font-size: large;
  font-weight: bolder;
  margin-bottom: 0px;
  margin-top: 25px;
  padding-left: 25px;
}

i.fas.fa-chart-line{
  margin-top: 26px;
  padding-right: 15px;
}

.fa-chart-line:before {
  font-size: large;
}

#populaire .populaire-cards {
  margin: 25px;
}

#populaire .populaire-cards a {
  display: inline-block;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 25px;
  text-decoration: none;
  color: black;
  width: 100%;
}

#populaire .populaire-cards a .title-stars {
  display: inline-block;
  padding-left: 15px;
  width: calc(60% - 15px);
  vertical-align: top;
  height: 130px;
  position: relative;
}

.populaire-title {
  display: flex;
  justify-content: space-between;
}

#populaire img {
  width: 40%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  background-color: #ffffff;
  height: 130px;
}

#populaire .populaire-stars {
  position: absolute;
  bottom: 10px;
}

.fas.fa-star.color::before{
  color: rgb(221, 219, 219);
}

/* Bottom section (Activités à Marseille) */
#activites {
  margin-bottom: 30px;
}
#activites h2 {
  font-size: large;
}

#activites .activites-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

#activites .cardtop {
  display: inline-block;
  box-shadow: 0px 0px 20px 10px #f2f2f2;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  max-width: 100%;
  height: 100%;
}

#activites .cardbottom {
  display: inline-block;
}

#activites .cardbottom .card1 {
  box-shadow: 0px 0px 20px 10px #f2f2f2;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  max-width: 100%;
  height: 140px;
  margin: 0px 30px 30px 30px;
}

#activites .cardbottom .card2 {
  box-shadow: 0px 0px 20px 10px #f2f2f2;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  max-width: 100%;
  height: 108px;
  margin: 0px 30px 0px 30px;
}

#activites .cardbottom .card3 {
  box-shadow: 0px 0px 20px 10px #f2f2f2;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  max-width: 100%;
  height: 140px;
  margin: 0px 0px 30px 30px;
}

#activites .cardbottom .card4 {
  box-shadow: 0px 0px 20px 10px #f2f2f2;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  max-width: 100%;
  height: 108px;
  margin: 0px 0px 0px 30px;
}

#activites div a .heighttop img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

#activites div a .heightbottom1 img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

#activites div a .heightbottom2 img {
  width: 100%;
  height: 60px;
  object-fit: cover;
}

#activites div a .heightbottom3 img {
  width: 100%;
  height: 90px;
  object-fit: cover;
}

#activites div a .heightbottom4 img {
  width: 100%;
  height: 60px;
  object-fit: cover;
}

#activites div a p {
  height: 25px;
  font-size: medium;
  font-weight: bolder;
  padding-left: 10px;
  margin: 10px;
}

#activites div a img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 100%;
}

#activites div a {
  text-decoration: none;
  color: black;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
}

footer div {
  padding: 20px;
  width: 33%;
}

footer div ul {
  list-style: none;
  padding-left: 0px;
}

footer div ul li a {
  text-decoration: none;
  color: black;
}

/* Media Queries */

/*Tablette*/

@media screen and (min-width: 768px) {
  header nav {
    display: inline-block;
  }
}

@media screen and (max-width: 1024px) {
  .hebergement-section {
    flex-direction: column;
  }

  #populaire {
    width: calc(100% - 30px);
    order: 1;
  }

  #hebergement {
    width: calc(100% - 30px);
    order: 2;
  }
}

/* Mobile */

@media screen and (max-width: 767px) {
  header ul li:nth-child(-n + 2) {
    width: 50%;
    display: inline-block;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
  }

  header {
    margin-bottom: 70px;
  }

  header nav ul {
    width: 100%;
    top: 70px;
    gap: 0em;
  }

  header nav ul li a:hover {
    border-top: none;
  }

  header ul li:hover {
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
    padding-bottom: 10px;
  }

  #signin-parent:hover {
    border-bottom: none;
  }

  #signin-parent {
    position: absolute;
    top: -44px;
    right: 0;
  }
  
  .recherche p {
    margin-bottom: 30px;
  }

  .recherche form input{
    width: 200px;
  }

  .recherche form button {
    width: 55px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  ::placeholder {
    color: black;
  }

  .recherche form button span{
    display: none;
  }

  .recherche form button .fa-search{
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }

  .filtres {
    margin-bottom: 20px;
  }

  .filtres h2 {
    display: block;
    font-size: 18px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .info{
    align-items: baseline;
  }

  .info p{
    font-size: initial;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .hebergement-section{
    gap: 0px;
    margin-bottom: 0px;
  }

  #hebergement {
    background-color:white;
  }

  #hebergement .hebergement-cards{
    gap:1em;
  }

  #hebergement .hebergement-cards div {
    width: 100%;
    box-shadow: 0px 0px 20px 10px #f2f2f2;
  }

  #populaire {
    border-radius: 0px;
  }

  #populaire h2{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
  }

  #populaire .populaire-cards a{
    margin-bottom: 10px;
  }
  
  i.fas.fa-chart-line{
    margin-top: 11px;
    padding-right: 0px;
  }

  #populaire .populaire-cards{
    margin: 10px;
  }

  #activites{
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .activites-container {
    flex-direction: column;
  }

  #activites .cardbottom .card1,
  #activites .cardbottom .card2,
  #activites .cardbottom .card3,
  #activites .cardbottom .card4 {
    margin: 0;
    height: unset;
  }

  #activites .cardbottom img {
    height: 120px !important;
  }

  footer {
    flex-direction: column;
  }

  footer div {
    width: 100%;
  }
}
