/* Définitions des polices personalisée Raleway */
@font-face {
    font-family: 'ralewaythin';
    src: url('Polices/raleway-variablefont_wght-webfont.eot');
    src: url('Polices/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('Polices/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('Polices/raleway-variablefont_wght-webfont.woff') format('woff'),
         url('Polices/raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('Polices/raleway-variablefont_wght-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page  */

body {
    font-family: 'ralewaythin', 'Arial', 'sans-serif';
    font-size: small;
    font-style: normal;
    font-weight: normal;
    background-color: white;
}

/* Header et Navigation  */





/* Top Section (Hébergements à Marseille) */

#hebergement {
    background-color: #F2F2F2;
    border-radius: 5px;
    width: auto;
}

#hebergement ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 5px;
}

#hebergement li{
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    
}
#hebergement a{
    text-decoration: none;
    color: black;
}

#hebergement img{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#hebergement p{
    margin-top: 0px;
    margin-bottom: 5px;
}

.fa-star:before {
    content: "\f005";
    color: #0065FC;
}

/* Aside section (Les plus populaires) */


/* Bottom section (Activités à Marseille) */

#activites {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

#activites h3{
    font-weight: bolder;
    font-size: medium;
}

#activites ul {
   list-style: none;
   padding: 0px;
   margin: 0px;
}

#activites li { 
    background-color:white;   
    box-shadow: 0px 0px 10px 5px #F2F2F2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
}

#activites a{
    text-decoration: none;
    color: black;
}

#activites img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#activites p{
    height: 25px;
    margin: 10px;
}

/* Footer */

footer{
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-between;
    align-items: baseline;
    width: auto;
}

footer ul {
    list-style: none;
    padding: 0px;
    margin: 30px;
}

footer h4{
    font-weight: bolder;
    font-size: medium;
}

footer a {
    text-decoration: none;
    color: black;
}
