/* Définitions des polices personalisée Raleway */
@font-face {
    font-family: 'ralewaythin';
    src: url('Polices/raleway-variablefont_wght-webfont.eot');
    src: url('Polices/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('Polices/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('Polices/raleway-variablefont_wght-webfont.woff') format('woff'),
         url('Polices/raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('Polices/raleway-variablefont_wght-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body {
    font-family: 'ralewaythin', 'Arial', 'sans-serif';
    font-size: small;
    font-style: normal;
    font-weight: normal;
    background-color: white;
}



/* Eléments "Top Section" (Hébergements à Marseille) */

#hebergement {
    display: inline-block;
    vertical-align: top;
    background-color:#F2F2F2;
    border-radius: 3%;
}

.lien {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.fa-star:before {
    content: "\f005";
    color: #0065FC;
}

#box1{
    display:flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
}

.auberge {
    max-width: 100px;
    background-color: white;
    padding: 5px;
    margin: 5px; 
    border-radius: 5%;
    list-style: none;
}

.mer {
    max-width: 100px;
    background-color: white;
    padding: 5px;
    margin: 5px; 
    border-radius: 5%;
    list-style: none;
}

.port {
    max-width: 100px;
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5%;
    list-style: none;
}

.panier {
    max-width: 100px;
    background-color: white;
    padding: 5px;
    margin: 5px; 
    border-radius: 5%;
    list-style: none;
}

.mouettes {
    max-width: 100px;
    background-color: white;
    padding: 5px;
    margin: 5px; 
    border-radius: 5%;
    list-style: none;
}

.amina {
    max-width: 100px;
    background-color: white;
    padding: 5px;
    margin: 5px; 
    border-radius: 5%;
    list-style: none;
}

/* Elements "Top section" (Les plus populaires) */

#populaire {
    display: inline-block;
    vertical-align: top;
    background-color: #F2F2F2;
    border-radius: 3%;
}

.fa-chart::before{
    
}

#box2{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.soleil {
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5%;
    list-style: none;
}

.chambres {
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5%;
    list-style: none;
}

.hotel {
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5%;
    list-style: none;
}

/* Elements Bottom section (Activités à Marseille) */

#activites{
    display: inline-block;
}

#bloc1{
    display: block;
    list-style: none;
    border-bottom-left-radius:3%;
    border-bottom-right-radius:3%;
}

#bloc2{
    display: block; 
    list-style: none;
    border-bottom-left-radius:3%;
    border-bottom-right-radius:3%;
}

#bloc3{
    display:block;
    list-style: none;
    border-bottom-left-radius:3%;
    border-bottom-right-radius:3%;
}

#bloc4{
    display: block;
    list-style: none;
    border-bottom-left-radius:3%;
    border-bottom-right-radius:3%;
}

#bloc5{
    display: block;
    list-style: none;
    border-bottom-left-radius:3%;
    border-bottom-right-radius:3%;
}

#bloc6{
    display: block;
    list-style: none;
    border-bottom-left-radius:3%;
    border-bottom-right-radius:3%;
}

.vieuxport{
    
}

.fortdepomegues {
    
}

.ilesdufrioul{

}

.parcnationaldesclanques{
    
}

.notredamedelagarde{
    
}

.parclongchamp{
    
}

/* Footer */

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#propos{
    list-style: none;
}

#hebergements{
    list-style: none;
}

#assitance{
    list-style: none;
}